{% extends "base.html" %}
{% load static %}
{%block content%}

 
<style> 
body { 
background-image: url("{%static "wallpaper.jpg" %}"); 
 background-repeat:no-repeat; 
 background-size:cover; 
}  

  
  h2 {
  
  text-align: center;
  
  }
  
  h2 {
    margin: auto;
    width: 640px; 
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif; 
    color: #FFFFFF;    
  }

  p {
  
    text-align: center;
    
    }
    
  p {
      margin: auto;
      width: 640px; 
      padding: 20px;
      font-family: 'Lexend Deca', sans-serif; 
      color: #FFFFFF;    
    }
  
</style> 
<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
<body> 
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h2>Mani Hooshmand</h2>
<p>Just a Normal Back-End Developer Trying to Improve His Skills</p>
</body> 


{% block footer %}
{% endblock %}

{%endblock%}
